

<div class="component-img">
  <% if(pageSizer == true){ %>
    <div class="page-sizer">
      <img src="<%= urlImg %>" alt="">
    </div>
  <% } else{ %>  
    <img src="<%= urlImg %>" alt="">
  <% } %>
</div>

