<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%- include templates/css_scripts %>
    <link rel="stylesheet" href="/stylesheets/css/our-people.css">
  </head>
  <body class="people">
    <h1>Page People</h1>

    <!-- Scripts JS -->
    <%- include templates/scripts %>
  </body>
</html>
