<header class="header" id="myHeader">
  <div class="header__content">
    <div class="header__logo">
      <a href="/">
        Logo
        <img src="" alt="">
      </a>
    </div>
    <div class="header__menu">
        <nav id="navigation" class="navigation navigation-landscape">
          <div class="nav-logo">
            <div class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="nav-menus-wrapper" style="transition-property: left;">
            <ul class="nav-menu">
              <% if(locals.pageHome){ %>
                <li class=""><a href="#title" data-menu="title">title</a></li>
                <li class=""><a href="#valores" data-menu="valores">valores</a></li>
              <% } %>
              <li class=""><a href="/our-work">Our Work</a></li>
              <li class=""><a href="/our-team">Our Team</a></li>
              <li><a href="/services" data-menu="services">Services</a></li>
              <li><a href="/contact" data-menu="contact">Contact</a></li>
            </ul>
          </div>
        </nav>
    </div>
  </div>
</header>