<header class="header" id="myHeader">
  <div class="header__content">
    <div class="header__logo">
      <a href="">
        <img src="" alt="">
      </a>
    </div>
    <div class="header__menu">
        <nav id="navigation" class="navigation navigation-landscape">
          <div class="nav-logo">
            <div class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="nav-menus-wrapper" style="transition-property: left;">
            <ul class="nav-menu">
              <li class="is-active"><a href="" data-menu="home">Home</a></li>
              <li class=""><a href="" data-menu="about-us">About Us</a></li>
              <li><a href="" data-menu="services">Services</a></li>
              <li><a href="" data-menu="contact">Contact</a></li>
            </ul>
          </div>
        </nav>
    </div>
  </div>
</header>