
$black: #000;
$white: #fff;

$color-primary: green;
$color-secundary: red;

// Media Querys
$xs: "410px";
$sm: "568px";
$md: "768px";
$lg: "1024px";
$xl: "1200px";
$xxl: "1500px";

// Fonst
$circularMedium: "CircularStd-Medium";
$circularBook: "CircularStd-Book";