@import 'components/image';

@import 'fonts';
@import 'variables';
@import 'mixins';


//*********************
// Styles Generals Site
//*********************
html {
  font-size: 10px;
  font-family: $circularMedium;
  height: 100%;
  @media (max-width: 551px) {
    font-size: 55%;
  }
  @media (max-width: $xs) {
    font-size: 52%;
  }
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  @include bodyMenu;
  .header {
    @include header;
    &__menu {
      #navigation {
        @include navigation;
      }
    }
  }
  .footer {
    // @include footer;
  }
}